body{
    margin: 0 auto;
    padding: 0;
}
.grid-container{
    background-color: blue;
    display: grid;
    gap:50px 50px;
    grid-template-columns: auto auto auto;
}
.grid-item{
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0px;
}